<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>

  <connectionStrings>

    <add name="nuv_fls" connectionString="Database=nuv_fls;Server=ND741DB;Initial catalog=nuv_fls;Integrated Security=SSPI;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="eds" connectionString="Database=eds;Server=IL1WD0002DB;Initial catalog=eds;Integrated Security=SSPI;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="trams" connectionString="Database=trams;Server=ND741DB;Initial catalog=trams;Integrated Security=SSPI;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
   
    <add name="db_left" connectionString="Database=nuv_fls;Server=ND741DB;Initial catalog=nuv_fls;Integrated Security=SSPI;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="db_right" connectionString="Database=nuv_fls;Server=IL1WS0232DB;Initial catalog=nuv_fls;Integrated Security=SSPI;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>

  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>